#offCanvas {
  background: darken(red, 10%);
  ul {
    width: 100%;
    li {
      width: 100%;
      a {
        padding: 1em;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 1.4em;
      }
    }
  }
}
