#clients-view {
  padding: 0.5em;
  h1 {
    padding: 1em 1em;
    font-size: 2.1em;
    line-height: 2em;
    text-align: center;
  }
  p {
    font-size: 1em;
    margin-top: 0;
    text-align: center;
  }
  .clients-inline-list {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-flow: row wrap;
    .flex-wrap {
      width: 14em;
      list-style: none;
    img {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      width: 8.625em;
      height: 7.625em;
      margin: 1em;
      }
    }
  }
@media screen and (max-width: 40em) {
  padding: 0 3em 1em 3em;
    p {
      font-size: 0.9em;
    }
    .clients-inline-list {
      margin: 0;
      .flex-wrap {
        width:8em;
      }
    }
  }
}

