#footer {
  .footer-container {
    padding: 2em;
    .footer-row {
      .wrapper {
        padding: 2em;
        border-radius: 0.938em;
        .contact {
          .tag {
            font-size: 1.3em;
          }
          .apps {
            .name{
              #googleplay {
                &:hover {
                color: $google-play-color;
                }
              }
            }
          }
          .name {
            font-size: 2em;
            &:hover {
              color: $whatsapp-color;
            }
            #chat {
              &:hover {
              color: $chat-color;
              }
            }
          }
        }
        .float {
          margin-left: 7.8em;
          ul {
            padding-top: 1.6em;
            li {
              list-style-type: none;
              i {
                font-size: 2.2em;
              }
              .twitter {
                &:hover {
                  color: $twitter-color;
                }
              }
              .googleplay {
                &:hover {
                  color: $google-color;
                }
              }
              .facebook {
                &:hover {
                  color: $facebook-color;
                }
              }
              .instagram {
                &:hover {
                  color: $instagram-color;
                }
              }
              .linkedin {
                &:hover {
                  color: $linkedin-color;
                }
              }
              .mail {
                &:hover {
                  color: $mail-color;
                }
              }
            }
          }
        }
      }
      .fb {
        padding-top: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 40em) {
  #footer {
    .footer-container {
      .footer-row {
        .wrapper {
          .float {
            margin-left: 0;
            ul {
              flex-direction: row;
              display: flex;
              li {
                padding: 0.5em;
              }
            }
          }
        }
      }
    }
  }
}
