#first-view {
  height: 100vh;
  background-image: url(../img/delivery.jpg);
  background-size: cover;
  border-bottom: 1px solid black;
  .catch-phrase {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    .catch-phrase-section {
      color: black;
      .calllout {
        img {
          background-size: cover;
        }
      }
      h1 {
        font-size: 1.6em;
        .diamonds {
          font-size: 0.7em;
        }
      }
      p {
        font-size: 1em;
        .icons {
          font-size: 1.7em;
          color: red;
        }
      }
      .button {
        font-size: 1.1em;
        color: white;
        background: #039901;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: 40em) {
  #first-view {
    background-image: linear-gradient(rgba(#000, 0.90), rgba(#f00, 0.70)), url(../img/phone-view.jpg);
    .catch-phrase {
       padding: 0 0.5em 0 0.5em;
      .catch-phrase-section {
         h1 {
         color: white;
         font-size: 1.3em;
         .diamonds {
           font-size: 0.6em;
          }
        }
        p {
          color: white;
          font-size: 1em;
        }
        a {
          border-radius: 5px;
          bottom: 32px;
          right: 32px;
        }
      }
    }
  }
}

hr {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

