#review {
  display:inline-block;
  background-color: rgb(227, 227, 227);
  color: #333;
  padding: 1.5em 0.5em;
  text-align: center;
  padding-bottom: 1em;
  h1 {
    font-size: 2.1em;
    padding: 0.4em 1em;
  }
  .client-video{
    justify-content: center;
    display: flex;
    padding: 0.5em;
    iframe {
      border: none;
      border-radius: 4%;
      max-width: 90%;
      margin-bottom: 1.2em;
      box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    }
  }
  .text {
    max-width: 80%;
    margin: auto;
    .name {
      font-style: italic;
      font-size: 0.9em;
      font-weight: 500;
      color: black;
    }
  }
  @media screen and (max-width: 40em) {
    padding:1em;
  }
}
