#services {
  padding: 2em;
  .title {
    align-content: center;
    text-align: center;
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.2em;
    }
  }
  .service-content {
    padding: 2em;
    .item {
      position: relative;
      height: 100%;
      .card-border {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
        .card-section {
          h2 {
            font-size: 1.7em;
            font-weight: 150;
          }
          .service-button {
            a {
              padding-top:1em;
              border-radius: 5px;
              position: static;
              bottom: 32px;
              right:36px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 40em) {
    padding: 1em;
  }
}
