.top-bar {
  height: 3em;
  background: linear-gradient(rgba(#111, 0.9), rgba(#111, 0.9));
  .top-bar-left {
    a {
      img {
        width: 5em;
      }
    }
  }
  .menu .active > a {
    box-shadow: 0 4px 4px 0 rgba(1, 1, 1, 0.2), 0 6px 20px 0 rgba(1, 1, 1, 0.19);
  }
  .top-bar-right {
    .menu {
      background: linear-gradient(rgba(red, 0), rgba(black, 0));
      li {
        padding: 0 0.5em 0 0.5em;
        a {
          color: white;
          border-radius: 2px;
          &:hover {
            color: #f0f0f0;
            background: #222;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 40em) {
  .top-bar {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    flex-direction: column;
    display: flex;
  }
}
