@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'hero';
@import 'footer';
@import 'topbar';
@import 'canvas';
@import 'review';
@import 'clients';
@import 'services';
@import "../foundation-icons/foundation-icons.css";
@import url('https://fonts.googleapis.com/css?family=K2D:200|Roboto+Slab|Titillium+Web');

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

p, h2, h3, h4, h5 {
  font-family: 'K2D', sans-serif;
}

a {
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

.modal {
  border-radius: 5px;
  .modal-circular {
    border-radius: 5px;
    padding: 1em 0em;
  }
  .modal-button {
    border-radius: 4px;
  }
}


