---
pagetitle: Make an Order | City Rydes Limited
---
<div id="apply">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeu7ROOkJKznCWqjneVOFOqOItEYG3t4VUh-2eNj-s7yKtnIA/viewform?embedded=true" width="100%" height="820" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
