<section id="clients-view">
  <h1>Trusted By</h1>
  <p>
  Over 50 companies and 500plus individuals use City Rydes to run their errands
  </p>
  <p>
  and logistics to increase their productivity and achieve more.
  </p>
  <div>
  <ul class="clients-inline-list">
    {{#each clients-logo}}
    <li class="flex-wrap">
      <div class="clients-details">
        <img src="{{root}}assets/img/clients/{{this.source}}" alt "{{this.alt}}">
      </div>
      <div class="clients-details">
        <p>{{this.name}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
  </div>
</section>

