<section id="footer">
  <div class="grid footer-container">
    <div class="grid-x grid-padding-x footer-row">
      <div class="grid-x medium-7 wrapper">
        <div class="cell medium-8 contact">
          <p><img src="{{root}}assets/img/cityrydes.png" alt="logo image for cityrydes" width=100>
          <span class="tag">Customer is King, Cash is Queen</span></p>
          <p>
          <span class="name"><i class="fi-telephone"></i> :: </span>+254 722 850 108/ +254 737 850 108/ 057 202 6371
          </p>
          <p>
          <span class="name"><i id="chat" class="fi-comment"></i> :: </span> +254 722 850 108/ +254 737 850 108
          </p>
          <p>
          <span class="name"><i class="fab fa-whatsapp"></i> :: </span> +254 722 850 108</p>
          <p class="apps"> <span class="name">
            <i id="googleplay" class="fab fa-google-play"></i> :: </span> CITY RYDES APP ON PLAYSTORE</p>
        </div>
        <div class="cell medium-1 float">
          <ul>
            <li><a href="https://twitter.com/cityrydes"><i class="fi-social-twitter twitter"></i></a></li>
            <li><a href="https://www.facebook.com/cityrydes.co.ke/"><i class="fi-social-facebook facebook"></i></a></li>
            <li><a h ref="mailto:info@cityrydes.co.ke"><i class="fi-mail mail"></i></a></li>
            <li><a href="https://www.instagram.com/cityrydes/"><i class="fi-social-instagram instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="cell medium-5 facebook">
        <div class="fb-page" data-href="https://www.facebook.com/cityrydes.co.ke/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/cityrydes.co.ke/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/cityrydes.co.ke/">City Rydes Limited</a></blockquote></div>
      </div>
    </div>
  </div>
</section>
