<section id="first-view">
  <div class="catch-phrase">
    <div class="catch-phrase-section">
      <h1>Fast,  <span class="diamonds"></span>  Efficient and<span class="diamonds"> </span>  Secure Delivery</h1>
      <p><span class="icons">&#8226; &#9670; &#8226;</span><br> An errand company <br>founded for the purpose of leaving a legacy in the service industry</p>
      <a class="button success but" href="#services">Get An Errand Done!</a>
    </div>
  </div>
</section>
