<section id="review">
  <h1>What People Say About Us</h1>
  <div class="grid-x grid-padding-x align-center">
    {{#each review}}
      <div class="cell medium-4 image">
        <div class="client-video">
            <iframe width="420" height="315"
                                src="https://www.youtube.com/embed/{{video-id}}">
            </iframe>
        </div>
        <div class="text">
            <p>{{this.review-desc}} </p> <p class="name">~{{this.name}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</section>
