<section id="services">
  <div class="grid-x grid-margin-x">
  <div class="grid-container container-wrap">
    <div class="title">
      <h1><strong>Services Offered</strong></h1>
      <p>Fast.Efficient.Secure delivery</p>
    </div>
    <div class="grid-x grid-padding-x service-content" data-equalizer data-equalize-on="medium">
      {{#each cityrydesservices}}
        <div class="cell medium-4 item">
          <div class="card card-border" data-equalizer-watch>
            <img class="circular" src="{{root}}assets/img/{{this.image}}" alt="{{this.alt}}" />
            <div class="card-section">
              <h2>{{this.title}}</h2>
              <p>{{this.service-description}}</p>
              <div class="service-button">
              <a class="button" data-open="{{this.id}}">Checkout This</a>
              </div>
              <div class="reveal modal tiny" id="{{this.id}}" data-reveal data-animation-in="fade-in" data-animation-out="fade-out" modalservice>
                <h1>{{this.title}}.</h1>
                <p>{{this.more-desc}}</p>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
                <img class="modal-circular" src="{{root}}assets/img/{{this.image}}" alt="{{this.alt}}" />
                <div class="modal-button">
                  <a class="button" href="order.html">Make an Order</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  </div>
</section>
