<div class="top-bar show-for-medium" id='city-rydes-menu' data-options="marginTop:0;" data-sticky>
  <div class="top-bar-left">
    <a href="/">
      <img src="{{root}}assets/img/cityrydes.png" alt="thee city rydes logo"/>
    </a>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li class="{{#ifpage 'index'}}active{{/ifpage}}"><a href="/">Home</a></li>
      <li><a href="#services" data-smooth-scroll>Services</a></li>
      <li><a href="#review" data-smooth-scroll>Clients</a></li>
      <li><a href="#footer" data-smooth-scroll>Contact</a></li>
      <li><a href="order.html">Order</a></li>
    </ul>
  </div>
</div>

