{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!--Begining of theee canvas -->

    <div id="page-content" class="animate-bottom">
      <div class="off-canvas position-right flex-container" id="offCanvas" data-off-canvas data-transition="overlap">
        <ul class="menu vertical align-center-middle" id="canvasmenu">
          <li class="{{#ifpage 'index'}}active{{/ifpage}}"><a href="/">Home</a></li>
          <li><a href="#services" data-smooth-scroll>Service</a></li>
          <li><a href="#review" data-smooth-scroll>Clients</a></li>
          <li><a href="#footer" data-smooth-scroll>Contact</a></li>
          <li><a href="order.html">Order</a></li>
        </ul>
        <button class="close-button" arial-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar hide-for-medium">
          <div class="title-bar-left">
            <span class="title-bar-title">City Rydes</span>
          </div>
          <div class="title-bar-right">
            <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
          </div>
        </div>
      </div>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> topbar}}
    {{> body}}
    {{> footer}}
    </div>
    <!--End of Theee Canvas-->

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
